# Игнорировать файл
ignore_me.txt

# Игнорировать папку
app/ignored/

# Игнорировать все файлы с расширением pyc/pyd/pyo
*.py[cdo]

# Игнорировать log-файлы в app- и поддиректориях
app/**/*.log

# ... кроме файла main.log
!app/main.log
